{% set flashMessageArray = app.session.flashbag.get('notice') %}
{% if flashMessageArray|count > 0 %}
    <div class="box-body">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i>メッセージ</h4>
                {% for flashMessage in flashMessageArray %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% set flashMessageArray = app.session.flashbag.get('caution') %}
{% if flashMessageArray|count > 0 %}
    <div class="box-body">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> エラー！</h4>
                {% for flashMessage in flashMessageArray %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
